<ion-header>
    <ion-toolbar>
        <ion-title>Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="signOut()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>




<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <div class="perfil-foto">
                    <img [src]="'data:image/jpeg;base64,' + user.photo" *ngIf="user.photo" alt="Foto de perfil" id="fotoPerfil" />
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
                <h2 id="nombreUsuario">{{user.name}}</h2>
            </ion-col>
            <ion-col size="3">
                <p><strong class="pub" id="publicaciones">9</strong> <br>publicaciones</p>
            </ion-col>
            <ion-col size="3">
                <p><strong class="pub" id="seguidores">0</strong> <br>seguidores</p>
            </ion-col>
            <ion-col size="3">
                <p><strong class="pub" id="seguidos">0</strong> <br>seguidos</p>
            </ion-col>
        </ion-row>
        <div class="ion-padding desc">
            <p class="desc"><strong>País: {{user.country}}</strong></p><br>
            <p class="desc"><strong>Sexo: {{user.sex}}</strong></p><br>
            <p class="desc"><strong>Teléfono: {{user.telf}}</strong></p><br>
            <p class="desc"><strong>Email: {{user.email}}</strong></p><br>
            <p class="desc"><strong>Ubicación: {{user.location}}</strong></p><br>
        </div>





    </ion-grid>
    <ion-button (click)="editProfile()" expand="block" fill="outline" shape="round">
        Editar Perfil
    </ion-button>


    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="historias" (click)="destruir()">
            <ion-label>
                <ion-icon slot="icon-only" name="grid-outline" mode="ios"></ion-icon>
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="Reels" (click)="destruir()">
            <ion-label>
                <ion-icon slot="icon-only" name="images"></ion-icon>
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="Otros" (click)="destruir()">
            <ion-label>
                <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            </ion-label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <ion-grid *ngIf="hide">
            <ion-row>
                <ion-col size="4" *ngFor="let publicacion of publicaciones">
                    <ion-card>
                        <img class="ion-card-image" [src]="publicacion.imagen" />
                        <ion-card-content>
                            <p>Likes: {{publicacion.likes}}</p>
                            <p> {{publicacion.fecha}}</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngSwitchCase="'historias'">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" *ngFor="let publicacion of publicaciones">
                        <ion-card>
                            <img class="ion-card-image" [src]="publicacion.imagen" />
                            <ion-card-content>
                                <p>Likes: {{publicacion.likes}}</p>
                                <p> {{publicacion.fecha}}</p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'Reels'">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" *ngFor="let publicacion of publicaciones">
                        <ion-card>
                            <img class="ion-card-image" [src]="publicacion.imagen" />
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'Otros'">
            <img [src]="'data:image/jpeg;base64,' + user.photo" *ngIf="user.photo" alt="Foto de perfil" />
        </ion-list>


    </div>







</ion-content>