<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Términos y Condiciones</h1>
  <p>Al registrarte en nuestra plataforma, aceptas los siguientes términos y condiciones:</p>
  <ul>
    <li>**Uso del servicio:** Te comprometes a utilizar nuestra plataforma de manera responsable y a no utilizarla para actividades ilegales o malintencionadas.</li>
    <li>**Privacidad:** Respetamos tu privacidad y nos comprometemos a proteger tus datos personales. Consulta nuestra Política de Privacidad para obtener más información.</li>
    <li>**Derechos de autor:** Todo el contenido de nuestra plataforma está protegido por derechos de autor y no puede ser utilizado sin nuestro permiso expreso.</li>
    <li>**Cambios en los términos:** Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Te notificaremos de cualquier cambio importante.</li>
    <li>**Terminación:** Nos reservamos el derecho de terminar tu acceso a nuestra plataforma si violas estos términos y condiciones.</li>
  </ul>
</ion-content>