<app-header backButton="/auth" title="Registro"></app-header>

<ion-content class="ion-padding">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <!-- Logo -->
        <app-logo></app-logo>

        <!-- Foto de perfil -->

        <div *ngIf="form.controls.photo.value">
            <img [src]="'data:image/jpeg;base64,' + form.controls.photo.value" alt="Foto de perfil">
          </div>
          
          <ion-button expand="block" mode="ios" class="submit" type="button" (click)="takePicture()">
            Tomar foto de perfil
          </ion-button>

        <!-- Name -->
        <app-custom-input icon="person-outline" autocomplete="name" [control]="form.controls.name" type="text" label="nombre"></app-custom-input>

        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">El correo es requerido.</div>
            <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener al menos 4 caracteres.</div>
        </div>

        <!-- Email -->
        <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email" label="correo"></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido.</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido.</div>
        </div>
        <!-- Mapa -->
        <div id="map" *ngIf="showMap" style="height: 300px; width: 300px;"></div>

        <!-- Botón para obtener la ubicación -->
        <ion-button expand="block" mode="ios" class="submit" type="button" (click)="getCurrentLocation()">
        Obtener ubicación
        </ion-button>


        <!-- Telf -->
        <app-custom-input icon="call" autocomplete="telf" [control]="form.controls.telf" type="number" label="telf"></app-custom-input>

        <div class="validators" *ngIf="form.controls.telf.errors && form.controls.telf.touched">
            <div *ngIf="form.controls.telf.errors?.['required']">Ingrese telefono.</div>
            <div *ngIf="form.controls.telf.errors?.['minlenght']">Ingrese un numero valido.</div>
        </div>

        <!-- Sex -->
        <ion-item class="custom-input">
            <ion-label>Sexo</ion-label>
            <ion-select formControlName="sex">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Femenino">Femenino</ion-select-option>
            </ion-select>
        </ion-item>

        <!-- Password -->
        <app-custom-input icon="lock-closed-outline" type="password" label="Contraseña" [control]="form.controls.password"></app-custom-input>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
            <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida.</div>
            <div *ngIf="form.controls.password.errors?.['minlenght']">Ingresar al menos 6 digitos.</div>
            <div *ngIf="form.controls.password.errors?.['pattern']">Ingresar al menos una mayuscula y un caracter especial.</div>
        </div>

        <!-- Repeat Password -->
        <app-custom-input icon="lock-closed-outline" type="password" label="Repetir Contraseña" [control]="form.controls.repeatPassword"></app-custom-input>
        <div class="validators" *ngIf="form.controls.repeatPassword.errors && form.controls.repeatPassword.touched">
            <div *ngIf="form.controls.repeatPassword.errors?.['required']">La confirmación de la contraseña es requerida.</div>
            <div *ngIf="form.errors?.['notSame']">Las contraseñas no coinciden.</div>
        </div>

        <!-- Country -->
        <ion-item class="custom-input">
            <ion-label>País</ion-label>
            <ion-select formControlName="country">
                <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
            </ion-select>
            <div *ngIf="form.controls.country.errors?.['required']">Se debe seleccionar un pais.</div>
        </ion-item>

        <!-- Términos y condiciones -->
        <ion-item>
            <ion-label>Acepto los términos y condiciones</ion-label>
            <ion-checkbox formControlName="terms"></ion-checkbox>
        </ion-item>
        <ion-button expand="block" mode="ios" class="submit" type="button" (click)="openTermsAndConditions()">
            Ver términos y condiciones
        </ion-button>

        <!-- Login -->
        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
            Registrarse
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
    </form>
</ion-content>