<ion-header>
    <ion-toolbar>
      <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
      <!-- Foto de perfil -->
      <ion-item>
        <ion-label>Foto de perfil</ion-label>
        <img [src]="'data:image/jpeg;base64,' + profileForm.controls['photo'].value" *ngIf="profileForm.controls['photo'].value" alt="Foto de perfil" />
        <ion-button expand="block" mode="ios" class="submit" type="button" (click)="takePicture()">Actualizar foto de perfil</ion-button>
      </ion-item>
  
      <!-- Datos de contacto -->
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Teléfono</ion-label>
        <ion-input formControlName="telf" type="tel"></ion-input>
      </ion-item>
  
      <!-- Datos demográficos -->
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select formControlName="sex">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>País</ion-label>
        <ion-input formControlName="country" type="text"></ion-input>
      </ion-item>
  
      <!-- Botón de envío -->
      <ion-button expand="full" type="submit" [disabled]="!profileForm.valid">Guardar cambios</ion-button>
  
    </form>
  
    <!-- Botón de cierre de sesión -->
    <ion-button expand="full" color="danger" (click)="signOut()">Cerrar sesión</ion-button>
  
  </ion-content>
  